@charset "utf-8";
@import "bootstrap.css";
@import "bootstrap-responsive.css";
/*@import "bootstrap-responsive.css";*/

/* Setting up text sizes */

html {
	font-size: 62.5%; 
}
p, li, article, header {
	font-size: 2.5rem;
}
footer {
	font-size: 1.8rem;
}

/*setting up page colors*/

body{
	background-color: #2162A3;
}

/*lay out header*/

header{
	outline: 5px solid green;
}

.container{
	background-color: #fff;
}
